<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>人脸检测</title>
    <script src="/public/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script>

        //判断浏览器是否支持HTML5 Canvas
        window.onload = function () {
            try {
                //动态创建一个canvas元 ，并获取他2Dcontext。如果出现异常则表示不支持 document.createElement("canvas").getContext("2d");
                // document.getElementById("support").innerHTML = "浏览器支持HTML5 CANVAS";
            }
            catch (e) {
                // document.getElementByIdx("support").innerHTML = "浏览器不支持HTML5 CANVAS";
            }
        };

        //这段代 主要是获取摄像头的视频流并显示在Video 签中
        window.addEventListener("DOMContentLoaded", function () {
            var canvas = document.getElementById("canvas"),
                context = canvas.getContext("2d"),
                video = document.getElementById("video"),
                videoObj = { "video": true },
                errBack = function (error) {
                    console.log("Video capture error: ", error.code);
                };
            //拍照按钮
		$("#snap").click(function () {
            // document.getElementById('image1').src = '/public/uploads/20180525/0af2110980d6554a84a326b0b07ba4cb.png';
			context.drawImage(video, 0, 0, 630, 300);
            CatchCode();
			})
            //拍照每秒一次
            // setInterval(function(){
            //     context.drawImage(video, 0, 0, 630, 300)
            //     CatchCode();
            // },2000);
            //navigator.getUserMedia这个写法在Opera中好像是navigator.getUserMedianow
            //更新兼容火狐浏览器
            if (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
                navigator.getUserMedia=navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
                navigator.getUserMedia(videoObj, function (stream) {
                    video.srcObject  = stream;
                    video.play();
                }, errBack);
            }

        }, false);

        function dataURItoBlob(base64Data) {
            var byteString;
            if (base64Data.split(',')[0].indexOf('base64') >= 0)
                byteString = atob(base64Data.split(',')[1]);
            else
                byteString = unescape(base64Data.split(',')[1]);
            var mimeString = base64Data.split(',')[0].split(':')[1].split(';')[0];
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }
            return new Blob([ia], {type:mimeString});
        }

        //上传服务器
        function CatchCode() {
            var canvans = document.getElementById("canvas");
            //获取浏览器页面的画布对象
            //以下开始编 数据
            var imageBase64 = canvans.toDataURL();
            var blob = dataURItoBlob(imageBase64);  // 上一步中的函数
            var fd = new FormData(document.forms[0]);
            fd.append("the_file", blob, 'image.png');
            //将图像转换为base64数据
            $.ajax({
                type:"POST",
                url:"/index.php/index/index/door_ajax",
                processData: false,     // 必须
                contentType: false,     // 必须
                data:fd,
                datatype: "json",
                success:function(data){
                    var mes = (data);
                    if (mes.state=='1'){
                        document.getElementById('state').style.color = 'red';
                        document.getElementById('state').innerHTML = '您的信息未被识别';
                        document.getElementById('image1').style.display = 'none';
                        document.getElementById('image2').style.display = 'none';
                    }else if (mes.state=='2'){
                        document.getElementById('state').style.color = 'green';
                        document.getElementById('state').innerHTML = '验证通过';
                        document.getElementById('image1').style.display = '';
                        document.getElementById('image2').style.display = '';
                        document.getElementById('image1').src = mes.image1;
                        document.getElementById('image2').src = mes.image2;
                    }else{
                        document.getElementById('state').style.color = 'red';
                        document.getElementById('state').innerHTML = '没有识别到人脸';
                        document.getElementById('image1').style.display = 'none';
                        document.getElementById('image2').style.display = 'none';
                    }
                },
                error: function(){
                    //请求出错处理
                    alert("出情况了");
                }
            });
        }
    </script>
    <style>
        .div-a{ float:left;width:40%;height:60%;border:1px solid #000}
        .div-b{ float:right;width:59%;height:60%;border:1px solid #000}
        .div-c{ float:right;width:100%;height:40%;margin-top: 1%; border:1px solid #000}
        .div-d{ float:left;width:40%;height:60%;margin-right: 1%;margin-left: 5%;text-align: center;}
        .div-e{ float:left;width:40%;height:60%;margin-left: 1%;text-align: center;}
        .state{ width:80%;height:10%;margin-left: 1%;text-align: center;font-size: 30px;}
        span{ font-size:25px }
    </style>
</head>
<body>
<!-- 左边区域 -->
<div class="div-a" id="contentHolder">
    <video id="video" width="100%" height="100%" autoplay></video>
    <canvas style="" hidden="hidden"  id="canvas" width="520" height="250"></canvas>
</div>
<!-- 右边区域 -->
<div class="div-b" >

    <h1 align="center" id="snap">人脸采集对比(手动点击)</h1>
    <!--<input type="button" id="snap" style="width:100px;height:40px;" value="采集" />-->
    <div style="" id="">
        <div class="div-d">
            <img width="100%" id="image1" src="">
            采集照片
        </div>
        <div class="div-e">
            <img width="100%" id="image2" src="">
            数据库照片
        </div>

    </div>
    <div class="state" id="state"></div>
     		<!--<input type="button" onclick="CatchCode();" style="width:100px;height:35px;" value="上传服务器" />-->

    <!--<h1>人脸检测实时数据</h1>-->
    <!--<span>年龄：</span><span id="age"></span><br/>-->
    <!--<span>颜值：</span><span id="beauty" ></span><br/>-->
    <!--<span>性别：</span><span id="gendergender"></span><br/>-->
    <!--<span>是否戴眼镜:</span><span id="glasses"></span><br/>-->
    <!--<span>表情：</span><span id="expression"></span><br/>-->
</div>
<div class="div-c" >

</div>
</body>
</html>